@font-face{
    font-family: "mak";
    src: local("MAK-bold"), url("../assets/fonts/Mak-bold.otf");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: "mak";
    src: local("MAK"), url("../assets/fonts/Mak-light.otf");
    font-weight: 300;
    font-style: normal;
}